@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Inter", "ui-sans-serif", "system-ui", sans-serif;
    --font-family-sans: "Inter", "ui-sans-serif", "system-ui", sans-serif;
}

@layer base {
    body {
        @apply min-h-screen bg-slate-50 text-slate-900 font-sans antialiased;
    }
}